.cart-dropdown {
  // position: fixed;
  position: absolute;
  width: 280px;
  height: 480px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  top: 85px;
  right: 57px;
  z-index: 5;

  .cart-items {
    height: 400px;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  .button {
    margin-top: auto;
  }
}
