.item{
  width : 240px;
  height: 350px;
  
  .item-pic{
    width: 100%;
    height: 90%;
    background-size: ;
    background-position: center;
  }
  .item-footer{
    display: flex;

    .item-name{
      width : 90%;
    }
  }
}