.cart{
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;

  .icon{
    width: 30px;
    height: 30px;
  }

  .item-count{
    position: relative;
    font-size: 13px;
    top : -25px;
  }
}