.item{
  width : 240px;
  height: 350px;
  
  .item-pic{
    width: 100%;
    height: 90%;
    background-position: center;
    background-size: cover;
    margin-bottom: 5px;
  }
  .item-footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5%;
    font-size: 18px; 

    .item-name{
      width : 90%;
      margin-bottom: 15px; 
    }
    .item-price{
      width : 10%;
    }
  }
}
