.header{
  display: flex;
  justify-content : space-between;
  margin-bottom: 10px; 

  span{
    font-weight: bold;
    font-size: 20px;
  }

  ul{
    width: 30%;
    font-weight: 600;
    height: 25px;
    font-size: 15px;
    text-transform: uppercase;
    display: flex;
    justify-content : space-around;
  }

  .option{
    text-decoration: none;
    cursor: pointer;
    color: #000;

    &:hover{
      color:tomato;
      border-bottom:2px solid tomato;
    }

  }
}